<div class="red gradient" style="height: 15px;"></div>

<div class="container">
  <h3 style="text-transform: uppercase; letter-spacing: -1px; font-weight: bold; color: #333;"><%= @answer.field_value %></h3>
  <div><%= simple_format @answer.description %></div>
</div>