<%# Directly prepending Facebook share content within a hidden div to a page's body element sometimes corrects weird behavior on FB's end %>

<div style="display: none;">
  <% if @referring_vote || request.fullpath.split('/').last == 's' %>
    <%= @poll.vote_share_description %>
  <% elsif @candidate %>
    <% liquid_binding = {'candidate' => @candidate } %>
    <%= Liquid::Template.parse(@poll.promote_share_description).render(liquid_binding) %>
  <% elsif params['controller'] == 'results' %>
    <%= @poll.results_share_description %>
  <% else %>
    <%= @poll.index_share_description %>
  <% end %>
</div>