<div id="footer" class="container">
  <div id="disclaimer">
    Paid for by Democracy for America and not authorized by any candidate. Contributions to Democracy for America are not tax deductible for federal income tax purposes.
  </div>
  <div id="contact">
    <strong><span>Democracy for America</span> | <span>PO Box 1717</span> | <span>Burlington, VT 05402</span>
    <br><span>Phone: 802-651-3200</span> | <span>Fax: 802-651-3299</span></strong>
    <br>
    <br><span>Copyright &copy;2015-<%= Date.current.year %> Democracy for America,</span> <span>All Rights Reserved</span>
  </div>
  <div id="dfa-credit">
    <a href="http://www.democracyforamerica.com">WEBSITE POWERED BY <%= image_tag "dfa-logo-#{ ENV['COLORSCHEME'] || 'color' }.png", alt: 'Democracy for America', style: 'vertical-align: middle;' %></a>
  </div>
</div>