<a href="#" class="overlay" onclick="hideModal(); return false;"></a><div id="modal">
  <a href="#" onclick="hideModal(); return false;" style="position: absolute; top: 8px; right: 6px; font-size: 36px; color: #CCC;">&times;</a>
  <div style="padding: 34px 12px 0px;">
    <div style="text-align: center;"><a id="modal-vote" href="#" class="button btn-blue btn-lrg" onclick="return false;" style="min-width: 50%;"></a></div>
    <h5 id="modal-title" style="padding-top: 8px; text-align: center;"></h5>
    <div id="modal-content" style="padding-top: 4px;"></div>
  </div>
</div>